::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: #010C24;
}
::-webkit-scrollbar-thumb {
  background-color: #00EED0;
  border-radius: 100px;
  transition: all ease-out .3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #01CCB1;
}
::-webkit-scrollbar-button
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.header {
  position: fixed;
  width: 100%;
  font-family: 'Fira Code', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  transition: all ease-out .1s;
  z-index: 99;
}
.header.scrolled {
  background-color: #0000003D;
  transition: all ease-out .1s;
  backdrop-filter: blur(10px);
}
.header .right a {
  text-decoration: none;
  color: #ffffff80;
  margin: 0 1em;
  font-size: 16px;
  transition: all ease-out .1s;
}
.header .right a:hover,
.header .right a.active {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
}
.header .right .button-resume {
  text-decoration: none;
  color: #0197AF;
  font-family: 'Fira Code', monospace;
  border: 0.1em solid #0197AF;
  border-radius: 0.5em;
  padding: 0.7em 1em;
  transition: all ease-out .1s;
}
.header .right .button-resume:hover {
  background-color: #0197AF;
  color: #010C24;
  box-shadow: 0 0 12px #0197AF;
}
.social-media {
  position: fixed;
  bottom: 0;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.social-media a {
  color: #ffffff80;
  text-decoration: none;
  font-size: 28px;
  display: flex;
  margin: 0.4em 0;
  transition: all ease-out .1s;
}
.social-media a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
  transform: scale(1.15);
}
.social-media .line {
  height: 7em;
  width: 0.13em;
  background-color: #ffffff80;
  margin-top: 1em;
}
#beranda {
  height: 100svh;
  background: radial-gradient(ellipse at 50% -100%, #472678 0%, #010C24 60%);
  padding: 5em 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#beranda .intro {
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
}
#beranda .name {
  color: #00EED0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 86px;
}
#beranda .role {
  color: #0197AF;
  font-family: 'Fira Code', monospace;
  font-weight: bold;
  font-size: 24px;
  margin-top: -1em;
}
#beranda .desc {
  color: #0197AF;
  font-family: 'Fira Code', monospace;
  text-align: justify;
  font-size: 18px;
  margin: 4em 0 3em 0;
  width: 40em;
}
#beranda a {
  text-decoration: none;
  color: #0197AF;
  width: 15em;
  text-align: center;
  font-family: 'Fira Code', monospace;
  border: 0.1em solid #0197AF;
  border-radius: 0.5em;
  padding: 0.7em 2em;
  transition: all ease-out .1s;
}
#beranda a:hover {
  background-color: #0197AF;
  color: #010C24;
  box-shadow: 0 0 12px #0197AF;
}
#beranda img {
  width: 400px;
  filter: grayscale(30%);
  opacity: 0.7;
  border-radius: 50%;
  transition: all ease-out .1s;
}
#beranda img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
#pengalaman {
  background-color: #010C24;
  padding: 10em 15em;
  position: relative;
}
#pengalaman h1 {
  color: #00EED0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 3em;
}
.checkpoint .center-line {
  background-color: #00EED0;
  width: 0.2em;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.checkpoint .row {
  margin-bottom: 5em;
  display: flex;
  position: relative;
}
.checkpoint .row:after {
  content: '';
  position: absolute;
  background-color: #00EED0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.checkpoint .row:last-child {
  margin-bottom: 0;
}
.checkpoint .row:nth-child(even) {
  justify-content: flex-start;
}
.checkpoint .row:nth-child(odd) {
  justify-content: flex-end;
}
.row .box {
  width: 700px;
  border: 0.1em solid #0197AF80;
  border-radius: 1em;
  padding: 1.7em 2em 1.2em 2em;
  box-shadow: 0 0 0 #ffffff;
  transition: all ease-out .1s;
}
.row .box:hover {
  background-color: #ffffff10;
  box-shadow: 0 0 7px #ffffff80;
}
.row .box .details {
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
}
.details span.title {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
.details span.where {
  color: #00EED0;
}
.details span.when {
  color: #0197AF;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
}
.row .box p {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: justify;
}
#projek {
  background: radial-gradient(ellipse at 50% 300%, #472678 0%, #010C24 60%);
  z-index: 4;
  position: relative;
  padding: 10em 15em;
}
#projek h1 {
  color: #00EED0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 3em;
  text-align: right;
}
#projek .pj {
  padding: 0 7em;
  display: flex;
  justify-content: space-between;
  align-items: top;
  position: relative;
}
#projek .pj .carousel{
  min-width: 500px;
  max-width: 500px;
  opacity: .7;
  filter: grayscale(50%);
  transition: all ease-out .1s;
}
#projek .pj .carousel:hover {
  opacity: 1;
  filter: grayscale(0%);
}
.pj .desc-pj {
  text-align: right;
  margin-left: 3em;
}
.pj .desc-pj span{
  color: #FFFFFF;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}
.pj .desc-pj .judul-pj {
  color: #0197AF;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 0.5em;
}
.pj .desc-pj .desc {
  border: 0.1em solid #0197AF80;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  padding: 1em 1.3em;
  border-radius: 1em;
  margin-bottom: 1em;
  transition: all ease-out .1s;
}
.pj .desc-pj .desc:hover {
  background-color: #0197AF20;
}
.desc-pj .etc span {
  background-color: #FFFFFF20;
  padding: 0.2em 1em;
  margin: 0 0.5em;
  border-radius: 5em;
}